
@{
    Layout = null;
}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>ĐSN - COFFEE</h3>
                        <p>
                            Phường Tân Phú,  <br>
                            Quận 9, Thành phố Hồ Chí Minh<br><br>
                            <strong>Số điện thoại:</strong> 0326675578 <br>
                            <strong>Email:</strong> nguyenhuudaihs@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <h4>Đăng Ký</h4>
                    <p>Nhận thông báo mới nhất về khuyễn mãi.</p>
                    @Html.Action("Partial_Subcrice", "Home")
                </div>
                <div class="col-lg-5 col-md-6 footer-links">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100067589814822&tabs&width=500&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=172925719024818" width="500" height="100%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="credits">
            ----------------- ĐSN - COFFEE -----------------
        </div>
    </div>
</footer>