<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center ">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>0326 675 578</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Thứ 2 - Chủ nhật:  8:00 - 23:30</span></i>
            <i class="bi bi-shop-window d-flex align-items-center ms-4"><span> Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh.</span></i>
        </div>       
    </div>
</div>