@model IEnumerable<DoAnWeb.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="banner">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(@item.icon)">
                            <div class="banner_category">
                                <a href="/danh-muc-san-pham/@item.alias-@(item.id)">@item.title</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

